.descriptionbox {
  margin: 12vh 17vh;
}

.descriptionbox-navigator {
  display: flex;
}

.descriptionbox-nav-box {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6vh;
  font-weight: 600;
  width: 17.1vh;
  height: 7vh;
  border: 0.1vh solid #d0d0d0;
}

.descriptionbox-nav-box.fade {
  background: #FBFBFB;
  color: #555;
}

.descriptionbox-description {
  display: flex;
  flex-direction: column;
  gap: 2.5vh;
  border: 0.1vh solid #D0D0D0;
  padding: 4.8vh;
  padding-bottom: 7vh;
}